.header {
  display: flex;
  margin-bottom: 20px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 9999999;
  background-color: white;
}

.logo {
  height: 50%;
  width: 50%;
  margin-left: 70px;
  margin-top: 50px;
  align-items: flex-end; 
}
.esm-logo {
  height: 40%;
  width: 40%;
}

.menu {
  display: flex;
  margin-right: 40px;
  align-items: flex-end; 
  padding-bottom: 10px;
}
.menu-item {
  margin-right: 20px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;

 
}
a{
  text-decoration: none;
  color: grey;
  
}

/* .parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
} */

/****** HERO ******/

.top-hero {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  z-index: 9999;
  top: 0px;
  position: absolute;
  background-color: white;
  /* align-items: space-between; */
}

.shrink {
  height: 200px;
}



.top-hero-top-text {
  display: flex;
  flex-direction: column;
  align-items: center; 
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  margin-top: 3%;
  
}

.top-hero-bottom-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 12%;
  margin-right: 12%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 20px;
  
}

.scroll-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 1%;

}

.hero {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/calc-billing-image.jpg");
  background-size: cover;
  height: 500px;
  width: 100%;
  z-index: 99;
  position: relative;
  top: 0px;
}
  

.hero-text {
  
  
  filter: none;
  color: white;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  
  font-size: 60px;
  
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 35px;
  line-height: .05;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: .25;
}
.hero-lineone {
  margin-top: 150px;
}

.hidden {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}


.test {
  height: 3000px;
  width: 100%;
  background-color: pink;
  z-index: 1;
  position: relative;
}